extends ./layout.jade
block content
  h2.text-center Dashboard
  div.row.row-padded
    div.col-xs-12.col-sm-7
      h3.text-center Update a Website
      form.form-horizontal(action="/api/website/update", method="POST")
        p.text-info
          | After retrieving your website's info, you may edit any of the
          | fields that appear. The website name is not editable, sorry.
        div.form-group
          label.col-sm-4.control-label(for="update-website") Website Name
          div.col-sm-8
            input#update-website.form-control(type="text" name="website")
            btn.btn.btn-grey#update-retrieve Retrieve Info
        div#update.hidden
          label.col-sm-4.control-label(for="update-user") git.iili User
          div.col-sm-8
            input#update-user.form-control(type="text", name="user")
            p.help-block
              | This is the name of the git.iili user/group owner. You will need
              | to sign up at <a href="https://git.iili.li">git.iili</a>.
          div.form-group
            label.col-sm-4.control-label(for="update-repo") Repository Name
            div.col-sm-8
              input#update-repo.form-control(type="text", name="repo")
              p.help-block
                | Note that this may only be a PUBLIC repository at this point
                | in time.
          div.form-group
            label.col-sm-4.control-label(for="update-password") Password
            div.col-sm-8
              input#update-password.form-control(type="password", name="password")
              p.help-block
                | This is a password used solely for updating this website. This
                | is not your git.iili password. Please keep note of this
                | password.
          div.form-group
            div.col-sm-offset-2.col-sm-10
              button.btn.btn-grey Update Website
    div.col-xs-12.col-sm-1
    div.col-xs-12.col-sm-4
      h3.text-center Create a Website
      form.form-horizontal(action="/api/website", method="POST")
        div.form-group
          label.col-sm-4.control-label(for="website") Website Name
          div.col-sm-8
            input#website.form-control(type="text" name="website", tabindex="1")
            p.help-block
              | This is the URL you'll access your website from. It goes in the
              | format of http://<b>website_name</b>x.iili.li.
          label.col-sm-4.control-label(for="user") git.iili User
          div.col-sm-8
            input#user.form-control(type="text", name="user", tabindex="2")
            p.help-block
              | This is the name of the git.iili user/group owner. You will need
              | to sign up at <a href="https://git.iili.li">git.iili</a>.
        div.form-group
          label.col-sm-4.control-label(for="repo") Repository Name
          div.col-sm-8
            input#repo.form-control(type="text", name="repo", tabindex="3")
            p.help-block
              | Note that this may only be a PUBLIC repository at this point
              | in time.
        div.form-group
          label.col-sm-4.control-label(for="password") Password
          div.col-sm-8
            input#password.form-control(type="password", name="password", tabindex="4")
            p.help-block
              | This is a password used solely for updating this website. This
              | is not your git.iili password. Please keep note of this
              | password.
        div.form-group
          div.col-sm-offset-4.col-sm-10
            button.btn.btn-grey(tabindex="5") Create Website
  script(src="/app.js")
