extends ./layout.jade
block content
  h2.text-center
    | Why use iili hosting?
  div.row.heading-padded.text-center
    div.col-xs-12.col-sm-6
      h3
        | Free
      p
        | iili provides free hosting. We do not make any money from your website. We do not inject any scripts, images,
        | CSS, analytics, or anything else into your website. iili provides this service for free.
    div.col-xs-12.col-sm-6
      h3
        | Static Hosting
      p
        | iili provides static website hosting. This means that your HTML, CSS, JS, images, fonts, PDFs, etc. are
        | served like usual. However, at this time we do not support "dynamic" languages such as PHP, Ruby, Python, etc.
    div.col-xs-12.col-sm-6
      h3
        | Deploy From Git
      p
        | iili supports updating your website via Git. All you have to do is click update in your control panel, and
        | iili pulls in the latest changes from your configured repository.
    div.col-xs-12.col-sm-6
      h3
        | Jekyll Hosting
      p
        | Jekyll, a Ruby dynamically-built website/blogging software, has first-class support. If you use Jekyll for
        | your website then you can deploy like any other static website would.
    div.col-xs-12.col-sm-6
      h3
        | Custom Domain Name
      p
        | When configuring your website you can choose a custom subdomain name at the iili.li domain. In addition, you
        | can configure your domain to point to your iili subdomain, so you can continue to use your domain name.
    div.col-xs-12.col-sm-6
      h3
        | Open Source
      p
        | iili is open source, so you can trust us. You can visit our repos over at our git hosting service.
      a.btn.btn-grey(href="https://git.iili.li/iili") View iili's source

  div.row-padded
  div.row-padded.text-center
    div.col-xs-12.col-sm-6.col-sm-offset-3
      h3 Enter the dashboard
      p
        | Get started or sign in here.
        br
        a.btn.btn-grey(href="/dashboard") Enter dashboard
