doctype html
html(lang='en')
  head
    link(rel='stylesheet', href='/app.css')
    block title
      title iili hosting
  body
    nav.home
      a(href='/', title='Home')
        i.fa.fa-3x.fa-home
    h1.text-center
      | x.iili
    div.container
      block content
    footer.padded-top.text-center
      p
        | <a href="https://git.iili.li/iili"><i class="fa fa-code-fork"></i></a> | <i class="fa fa-code"></i> Made with <i class="color-red fa fa-heart"></i> by <a href="https://iili.li">iili</a>
