@import './../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';

// font-awesome font path.
$fa-font-path: "/fonts";

@import './../../bower_components/fontawesome/scss/font-awesome';

body {
    background: #2b2b2b;
    color: #e3e3e3;
}

.heading-padded {
    padding-top: 5vh;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.row-padded {
    padding-top: 5vh;
}

.row > div {
    padding-left: 0;
    padding-right: 0;
}

.btn-grey {
    background-color: #1f1f1f;
    border: 1px solid #2a2a2a;
}

.btn-grey {
    &:link,
    &:visited,
    &:active {
        color: #dadada;
    }

    &:hover {
        color: #fafafa;
    }
}

.padded-top {
    padding-top: 10vh;
}

.color-red {
    color: rgb(134, 6, 6);
}

.home {
    left: 2em;
    position: absolute;
    right: 2em;
}

input[type="text"],
input[type="password"],
input[type="url"] {
    $input-color: rgb(75, 75, 75);
    background: $input-color;
    border: lighten($input-color, 10%);
    color: rgb(180, 180, 180);
}

a {
    &:link,
    &:visited {
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
}
